@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
*,
::before,
::after {
  margin: unset;
  padding: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000E4F inset;
  box-shadow:  0 0 0px 1000px #000E4F inset;
  transition: background-color 5000s ease-in-out 0s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.logo {
  cursor: pointer;
}
input,
button,
submit {
  border: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  padding: 0;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.app {
  padding-top: 2rem;
  height: 100%;
}

.container {
  width: 1256px;
  margin: 0 auto;
}

.main {
  margin-top: 4rem;
}

.col.form-section {
  max-width: 541px;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.group input,
.group textarea {
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 10px 10px 0;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c663;
}
.group input:focus,
.group textarea:focus {
  outline: none;
}
.group input:focus ~ label,
.group input:valid ~ label,
.group textarea:focus ~ label,
.group textarea:valid ~ label {
  top: -24px;
  font-style: normal;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.group input:focus ~ .bar:before,
.group textarea:focus ~ .bar:before {
  width: 100%;
}

.group input[type="password"] {
  letter-spacing: 0.3em;
}
.group label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.4;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: "";
  height: 1px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background-color: #fff;
  transition: 300ms ease all;
  left: 0%;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  color: #ffffff;
}

.social-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rario-btn {
  width: 254;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff1a;
  border-radius: 3.98152px;
  padding: 1rem 2.5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}

.rario-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.rario-btn-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-left: 1rem;
}

.form-wrapper {
  margin-top: 2rem;
}

.rario-form-control-input {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  padding: 0.5rem 0rem;
  background: transparent;
  border-bottom: 2px solid #ffffff;
  /* margin: 1rem 0rem; */
  color: #ffffff;
  margin-bottom: 0.75rem;

  opacity: 0.4;
}

.rario-form-control-input:focus {
  outline: none;
  opacity: 1;
}

.rario-form-control {
  opacity: 0.4;
}
.rario-form-control:focus-within {
  opacity: 1;
}

.input-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.forgot-password {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 1rem;
}

.submit-button-wrapper {
  margin-top: 3rem;
}

.submit-button {
  background: #ffffff;
  padding: 1rem;
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: capitalize;
  color: #000000;
  cursor: pointer;
}

.signup {
  margin-top: 2rem;
}

.signup-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  /* identical to box height */
  color: #ffffff;
  opacity: 0.8;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.terms label {
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: rgb(136, 136, 136);
}
.terms input {
  display: none;
}

.terms label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  background: #fff;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.terms input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 3px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.signup-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #ffffff;
}

.signup,
.forgot-password {
  cursor: pointer;
}

#error-message {

  background: #88210061;
    line-height: 30px;
    border: 1px solid #ffffff52;
    margin-top: 3rem;
    padding: 1rem;
  display: none;
  white-space: break-spaces;
}

.submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

body {
  background-color: #001356;
  background-image: url("https://assets.rario.com/images/rario-bg.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat";
}
.col.title-section {
  height: calc(100vh - 331px);
  justify-content: space-between;
}

.alert {
  color: white;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .banner-section {
    display: none;
  }

  .col.title-section {
    height: auto;
    margin-bottom: 2rem;
  }

  .col {
    width: 100%;
  }

  .title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .rario-btn {
    width: 150px;
    padding: 0;
    height: 56px;
    font-size: 12px;
    line-height: 15px;
    background: #000c3b;
  }

  span.rario-btn-text {
    font-size: 12px;
    line-height: 15px;
  }

  .rario-btn:first-child {
    margin-right: 1rem;
  }
  .form-wrapper {
    margin: 0;
  }
  .col.form-section {
    margin-bottom: 3rem;
  }
}

/*
 Responsive CSS for large screen 
*/

@media only screen and (min-width:768px) and (max-width:1024px) {
  .container {
    width: 90%;
  }
  .subtitle {
      font-size: 22px;
  }

  .title {
      font-size: 38px;
      margin-bottom: 0;
  }

  .rario-btn {
      width: 150px;
      height: 56px;
  }

  .form-wrapper {
      margin: 0;
  }

  .banner-section img {
      width: 89%;
  }

  .col.title-section {
      height: auto;
  }

  .banner-section {
      margin-top: 3rem;
  }
}